#navigation-main {
    width: 100dvw;
    height: 30px;
    overflow: hidden;
    display: flex;
}

#navigation-desktop {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #d03070;
    position: fixed;
    z-index: 1;
    padding: 10px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

#navigation-links-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#navigation-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#navigation-mobile {
    position: fixed;
    z-index: 1;
    display: none;
}

#navigation-mobile-menu {
    display: none;
    width: 100dvw;
    background-color: #3d3d46;
    position: fixed;
    top: 50px;
    display: flex;
    flex-direction: column;
    z-index: 3;
}
#navigation-mobile-menu[data-closed~="true"] {
    display: none;
}

@media screen and (max-width: 768px) {
    #navigation-desktop {
        display: none;
    }

    #navigation-mobile {
        display: block;
    }

    #navigation-mobile-top {
        width: 100%;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background-color: #d03070;
        position: fixed;
        z-index: 1;
        padding: 10px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.4);
    }
}